<div ng-controller="homeCtrl">

    <!-- Button to display the form to uplaod a file -->
    <button type="button" class="btn btn-primary mb-2" data-toggle="collapse" data-target="#inputformdiv">Upload
        file</button>

    <div id="inputformdiv" class="collapse">

        <!-- Form to uplaod a file-->
        <form id="upload" name="upload" enctype="multipart/form-data" method="post"
            action="http://localhost:8080/upload" class="col-3">
            <div class="form-group">
                <input id="fileupload" name="myfiles" type="file" multiple="" />
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" placeholder="Description" />
                </div>
    
            <input class="btn btn-primary" type="submit" value="submit" id="submit" />
        </form>
    </div> 

    <hr/>

    <!--<div>
            <input type="file" id="file" name="file"/>
            <button ng-click="add()">Add</button>
    </div>-->

    <h2 class="display-6">Your plan</h2>

    <!-- Plan of the patient -->
    <div class="row">
        <div class="col card mx-1 planday" id="plandaymonday">
            <div class="card-body">
                <h5 class="card-title">Monday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.monday"> {{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        <div class="col card mx-1 planday" id="plandaytuesday">
            <div class="card-body">
                <h5 class="card-title">Tuesday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.tuesday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        <div class="col card mx-1 planday" id="plandaywednesday">
            <div class="card-body">
                <h5 class="card-title">Wednesday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.wednesday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        <div class="col card mx-1 planday" id="plandaythursday">
            <div class="card-body">
                <h5 class="card-title">Thursday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.thursday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        

    </div>

    <br/>

    <div class="row">

        <div class="col card mx-1 planday" id="plandayfriday">
            <div class="card-body">
                <h5 class="card-title">Friday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.friday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        <div class="col card mx-1 planday" id="plandaysaturday">
            <div class="card-body">
                <h5 class="card-title">Saturday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.saturday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
        <div class="col card mx-1 planday" id="plandaysunday">
            <div class="card-body">
                <h5 class="card-title">Sunday</h5>
                <ul>
                    <li ng-repeat="x in patientPlan.sunday">{{x.sensor.name}} ({{x.sensorId}}) - {{x.time}}</li>
                </ul>
            </div>
        </div>
    </div>
    

    <br /><br />

    <h2 class="display-6">Your next Consultations</h2>

    <!-- Consultations of the patient -->
    <div class="row my-5">

        <div ng-repeat="x in consultationsToGo" class="col-3" style="padding:0">
            <div class="card my-2 mx-2" ng-class="{'bg-primary text-white' : x.daysToGo==0}">
                <div class="card-body">
                    <div class="row px-2">
                        <div style="color:rgb(83, 83, 83)" ng-class="{'blinking' : x.daysToGo==0}">
                            <h1>{{x.formattedDate}}</h1>
                            <p style="text-align: right;" ng-show="x.daysToGo>0" >Consultation in {{x.daysToGo}} days</p>
                            <p style="text-align: right;" ng-show="x.daysToGo==0">Consultation in less than 24 hours</p>
                            <a target="_blank" ng-click="makeCall(x.doctor_id)" class="btn btn-success" ng-show="x.minutesToGo<=10">Call</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br /><br />

    <h2 class="display-6">Your old Consultations</h2>

    <div class="row my-5">

            <div ng-repeat="x in consultationsDone" class="col-3" style="padding:0">
                <div class="card my-2 mx-2">
                    <div class="card-body">
                        <div class="row px-2">
                            <div style="text-align: right; color:rgb(83, 83, 83)">
                                <h1>{{x.formattedDate}}</h1>
                                <p style="text-align: right;">Consultation {{x.daysToGo}} days ago</p>
                                <button ng-click="makeCall(x.doctor_id)" class="btn btn-success" ng-show="x.minutesToGo>=-5">Call</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    <br /><br />

    <h2>Your uploaded files</h2>

    <!-- Uplouded files of the patient -->
    <div class="card" style="width:350px; display:inline-block; margin: 20px" ng-repeat="x in files">
        <img id="file{{x.id}}" class="card-img-bottom p-2" ng-src="{{getFileData(x.id)}}" alt="Card image" style="width:100%">

        <br/>

        <div class="card-body">
            <p class="card-text">{{x.description}}</p>
            <p class="card-text">{{x.date}}</p>
        </div>

      </div>


</div>