<div ng-controller="adminsCtrl">

    <h1>Admins</h1>

    <!-- Button add new admin -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addAdminModal"><i class="fas fa-plus-circle"></i></button>

    <!-- Table that contains the list of admins -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Remove</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in admins">
                <td>{{x._username}}</td>
                <td>{{x._email}}</td>
                <td>{{x._role}}</td>
                <td><button type="button" class="btn btn-warning" ng-click="edit(x._id)"><i class='far fa-edit'></i></button></td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(x._id)" ng-hide="x._role === 'S_Admin'"><i class="fa fa-remove"></i></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!-- MODAL - Add new admin-->
    <div class="modal" id="addAdminModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Admin</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addAdminModal">

                    <!-- Form -->
                    <form ng-submit="addNewAdmin()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">New Admin</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newusername" name="newusername"
                                ng-model="newAdmin.username" placeholder="Username" required />
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="newemail" name="newemail"
                                ng-model="newAdmin.email" placeholder="Email" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newpassword" name="password"
                                placeholder="Password" ng-model="newAdmin.password"
                                ng-blur="checkPasswords('new'); checkPasswordStrength('new')" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newpasswordconf" name="passwordconf"
                                placeholder="Password" ng-model="newAdmin.passwordconf" ng-blur="checkPasswords('new')"
                                required />
                        </div>

                        <div class="form-group">
                            <label>Select permissions (hold ctrl to select more than one):</label>
                            <select id="selectPermissions" ng-model="newAdmin.permissions" multiple
                                class="form-control">
                                <option id="optionPatients" value="patients">Patients</option>
                                <option id="optionDoctors" value="doctors">Doctors</option>
                                <option id="optionAssignDoctors" value="assigndoctors">Assign doctors</option>
                                <option id="optionAssignDoctors" value="contacts">Contacts</option>
                                <option id="optionAssignDoctors" value="devices">Devices</option>
                            </select>
                        </div>

                        <button type="submit" id="submitNewAdmin" class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL - Update admin-->
    <div class="modal" id="updateAdminModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Admin</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateAdminModal">

                    <!-- Form -->
                    <form ng-submit="updateAdminForm()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">Update Admin</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updateusername" name="updateusername"
                                ng-model="updateAdmin.username" placeholder="Username" required
                                value="{{updateAdmin.username}}" />
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="updateemail" name="updateemail"
                                ng-model="updateAdmin.email" placeholder="Email" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="updatepassword" name="password"
                                placeholder="Password" ng-model="updateAdmin.password"
                                ng-blur="checkPasswords('update'); checkPasswordStrength('update')" />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="updatepasswordconf" name="passwordconf"
                                placeholder="Password" ng-model="updateAdmin.passwordconf"
                                ng-blur="checkPasswords('update')" />
                        </div>

                        <div class="form-group">
                            <label>Select permissions (hold ctrl to select more than one):</label>
                            <select id="selectPermissions" ng-model="updateAdmin.permissions" multiple
                                class="form-control">
                                <option id="optionPatients" value="patients">Patients</option>
                                <option id="optionDoctors" value="doctors">Doctors</option>
                                <option id="optionAssignDoctors" value="assigndoctors">Assign doctors</option>
                                <option id="optionAssignDoctors" value="contacts">Contacts</option>
                                <option id="optionAssignDoctors" value="devices">Devices</option>
                            </select>
                        </div>

                        <button type="submit" id="submitUpdatedAdmin"
                            class="btn btn-primary submitButton">Update</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>