<div ng-controller="assigndoctorsCtrl">

    <h1>Assign Doctors</h1>

    <!-- Button new assignment -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal"
        data-target="#addDoctorPatientModal"><i class="fas fa-plus-circle"></i></button>

        <!-- Table that contains all the associations between doctors and patients -->
    <table class="table table-striped">

        <thead>
            <tr>
                <th style="text-align: center;">Doctor Name</th>
                <th style="text-align: center;">Doctor Email</th>
                <th style="text-align: center;">Patient Name</th>
                <th style="text-align: center;">Patient picture</th>
                <th style="text-align: center;">Delete</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="x in doctorPatient">
                <td style="vertical-align: middle; text-align: center;">{{x.doctor._name}}</td>
                <td style="vertical-align: middle; text-align: center;">{{x.doctor._email}}</td>
                <td style="vertical-align: middle; text-align: center;">{{x.patient._name}}</td>
                <td style="text-align: center;"><img class="file{{x.patient._id}}" class="img" ng-src="{{getFileData(x.patient._id)}}"
                        alt="Something went wrong, it's not possible to display the image."
                        style="width:200px; height:200px" /></td>
                <td style="vertical-align: middle; text-align: center;"><button type="button" class="btn btn-danger"
                        ng-click="delete(x.doctor._id, x.patient._id)"><i class="fa fa-remove"></i></button></td>
            </tr>

        </tbody>

    </table>

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>

    <!-- MODAL - Add new doctor-->
    <div class="modal" id="addDoctorPatientModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Doctor to Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <!-- Form -->
                    <form ng-submit="addNewDoctorPatient()" class="loginForm">

                        <div class="form-group">
                            <label>Doctor: </label>
                            <select class="form-control" id="doctorChoose">
                                <option ng-repeat="x in doctors" value={{x._id}}>{{x._name}} - {{x._email}}</option>
                            </select>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label>Patient: </label>
                            <select class="form-control" id="patientChoose">
                                <option ng-repeat="x in patients" value={{x._id}}>{{x._name}}</option>
                            </select>
                        </div>

                        <button type="submit" id="submitNewDoctorPatient" class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


</div>