<div ng-controller="contactsCtrl">

    <h1>Contacts</h1>

    <!-- Button add new contact -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addContactModal"><i class="fas fa-plus-circle"></i></button>

    <!-- Table that contains all the contacts -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Edit</th>
                <th>Remove</td>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="x in contacts">
                <td>{{x._name}}</td>
                <td><a href="tel:{{x._number}}">{{x._number}}</a></td>
                <td><button type="button" class="btn btn-warning" ng-click="edit(x._id)"><i class='far fa-edit'></i></button></td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(x._id)"><i class="fa fa-remove"></i></button></td>
            </tr>

        </tbody>

    </table>

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!-- MODAL - Add new contact-->
    <div class="modal" id="addContactModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Contact</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addContactModal">

                    <!-- Form -->
                    <form ng-submit="addNewContact()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">New Contact</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newname" name="newname"
                                ng-model="newContact.name" placeholder="Name" required />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newnumber" name="newnumber"
                                ng-model="newContact.number" placeholder="Number" required />
                        </div>

                        <button type="submit" id="submitNewContact" class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL - Update doctor-->
    <div class="modal" id="updateContactModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Contact</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateContactModal">

                    <!-- Form -->
                    <form ng-submit="updateContactForm()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">Update Contact</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updatename" name="updatename"
                                ng-model="updateContact.name" placeholder="Name" required />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updatenumber" name="updatenumber"
                                ng-model="updateContact.number" placeholder="Number" required />
                        </div>

                        <button type="submit" id="submitUpdateContact" class="btn btn-primary submitButton">Update</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>