<div ng-controller="devicesCtrl">

    <h1>Devices</h1>

    <!-- Button add new device -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addDeviceModal"><i
            class="fas fa-plus-circle"></i></button>


    <!-- List of devices -->
    <div class="row my-5">

        <div ng-repeat="x in devices" class="col-3" style="padding:0">
            <div class="card my-2 mx-2">
                <div class="card-body">
                    <div class="row">
                        <button ng-click="delete(x.id)" style='position:absolute; right: 10px;' class="btn btn-danger"> <i class='fa fa-remove'></i></button>
                    </div>
                    <div class="row px-2">
                        <div style="color:rgb(83, 83, 83)">
                            <h1>{{x.id}}</h1>
                            <p style="text-align: right;">Device Id</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Pagination -->
    <!--<ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>-->

    <!-- MODAL - Add new device-->
    <div class="modal" id="addDeviceModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Device</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addContactModal">

                    <!-- Form -->
                    <form ng-submit="addNewDevice()" class="loginForm">

                        <div class="form-group">
                            <input type="number" class="form-control" id="deviceId" name="newdevice"
                                ng-model="newDevice.id" placeholder="Device id" required />
                        </div>

                        <button type="submit" id="submitNewContact" class="btn btn-primary submitButton">Add</button>

                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


</div>