<div ng-controller="doctorsCtrl">

    <h1>Doctors</h1>

    <!-- Button add new doctor -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addDoctorModal"><i
            class="fas fa-plus-circle"></i></button>

    <!-- Table that contains all the doctors -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Remove</td>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="x in doctors">
                <td>{{x._name}}</td>
                <td>{{x._email}}</td>
                <td><button type="button" class="btn btn-warning" ng-click="edit(x._id)"><i
                            class='far fa-edit'></i></button></td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(x._id)"><i
                            class="fa fa-remove"></i></button></td>
            </tr>

        </tbody>

    </table>

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!-- MODAL - Add new doctor-->
    <div class="modal" id="addDoctorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Doctor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addDoctorModal">

                    <!-- Form -->
                    <form ng-submit="addNewDoctor()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">New Doctor</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newname" name="newname"
                                ng-model="newDoctor.name" placeholder="Name" required />
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="newemail" name="newemail"
                                ng-model="newDoctor.email" placeholder="Email" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newpassword" name="password"
                                placeholder="Password" ng-model="newDoctor.password"
                                ng-blur="checkPasswords('new'); checkPasswordStrength('new')" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newpasswordconf" name="passwordconf"
                                placeholder="Password" ng-model="newDoctor.passwordconf" ng-blur="checkPasswords('new')"
                                required />
                        </div>

                        <div class="form-group">
                            <input type="url" class="form-control" id="updatelinkcall" name="updatelinkcall"
                                ng-model="newDoctor.linkCall" placeholder="Link Call" required />
                        </div>

                        <div class="form-group">
                            <label>Select permissions (hold ctrl to select more than one):</label>
                            <select id="selectPermissions" ng-model="newDoctor.permissions" multiple
                                class="form-control">
                                <option id="optionDoctor" value="doctor">Doctor</option>
                                <option id="optionEmergency" value="emergency">Emergency</option>
                            </select>
                        </div>

                        <button type="submit" id="submitNewDoctor" class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL - Update doctor-->
    <div class="modal" id="updateDoctorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Doctor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateDoctorModal">

                    <!-- Form-->
                    <form ng-submit="updateDoctorForm()" class="loginForm">
                        <h1 class="display-4" style="text-align:center">Update Doctor</h1>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updatename" name="updatename"
                                ng-model="updateDoctor.name" placeholder="Name" required
                                value="{{updateDoctor.name}}" />
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="updateemail" name="updateemail"
                                ng-model="updateDoctor.email" placeholder="Email" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="updatepassword" name="password"
                                placeholder="Password" ng-model="updateDoctor.password"
                                ng-blur="checkPasswords('update'); checkPasswordStrength('update')" />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="updatepasswordconf" name="passwordconf"
                                placeholder="Password" ng-model="updateDoctor.passwordconf"
                                ng-blur="checkPasswords('update')" />
                        </div>

                        <div class="form-group">
                            <input type="url" class="form-control" id="updatelinkcall" name="updatelinkcall"
                                ng-model="updateDoctor.linkCall" placeholder="Link Call" required />
                        </div>

                        <div class="form-group">
                            <label>Select permissions (hold ctrl to select more than one):</label>
                            <select id="selectPermissions" ng-model="updateDoctor.permissions" multiple
                                class="form-control">
                                <option id="optionDoctor" value="doctor">Doctor</option>
                                <option id="optionEmergency" value="emergency">Emergency</option>
                            </select>
                        </div>

                        <button type="submit" id="submitUpdatedDoctor"
                            class="btn btn-primary submitButton">Update</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>