<div ng-controller="homeCtrl">

    <h1>Welcome</h1>

    <!-- Set of statistic card -->
    <div class="row my-5">

        <!-- Card number of admins -->
        <div class="card col-3 mx-1" ng-show="adminsVisible" style="cursor: pointer;" onclick="window.location='#!admins'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-user-cog"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numAdmins}}</h1>
                        <span>Number of Admins</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card number of doctors -->
        <div class="card col-3 mx-1" ng-show="doctorsVisible" style="cursor: pointer;" onclick="window.location='#!doctors'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fab fa-bity"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numDoctors}}</h1>
                        <span>Number of Doctors</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card number of patients -->
        <div class="card col-3 mx-1" ng-show="patientsVisible" style="cursor: pointer;" onclick="window.location='#!patients'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-procedures"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numPatients}}</h1>
                        <span>Number of Patients</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card number of contacts -->
        <div class="card col-3 mx-1 mt-4" ng-show="contactsVisible" style="cursor: pointer;" onclick="window.location='#!contacts'">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-address-book"></i>
                        </div>
                        <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                            <h1 style="color:green;">{{numContacts}}</h1>
                            <span>Number of Contacts</span>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Card number of devices -->
        <div class="card col-3 mx-1 mt-4" ng-show="devicesVisible" style="cursor: pointer;" onclick="window.location='#!devices'">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-bezier-curve"></i>
                        </div>
                        <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                            <h1 style="color:green;">{{numDevices}}</h1>
                            <span>Number of Devices</span>
                        </div>
                    </div>
                </div>
            </div>

    </div>


</div>