<div ng-controller="patientsCtrl">

    <h1>Patients</h1>

    <!-- Button add new patient -->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addPatientModal"><i
            class="fas fa-plus-circle"></i></button>

    <!-- Table that contains all the patients -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Remove</td>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="x in patients">
                <td>{{x._name}}</td>
                <td><button type="button" class="btn btn-warning" ng-click="edit(x._id)"><i
                            class='far fa-edit'></i></button></td>
                <td><button type="button" class="btn btn-danger" ng-click="delete(x._id)"><i
                            class="fa fa-remove"></i></button></td>
            </tr>

        </tbody>

    </table>

    <!-- Patients -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!-- MODAL - Add new patient-->
    <div class="modal" id="addPatientModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addPatientModal">

                    <!-- Form -->
                    <form class="loginForm" id="addNewPatientForm">
                        <h1 class="display-4" style="text-align:center">New Patient</h1>

                        <div class="row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="newname" name="name"
                                    ng-model="newPatient.name" placeholder="Name" required />
                            </div>

                            <div class="form-group col">
                                <input type="number" class="form-control" id="newcontact" name="contact"
                                    ng-model="newPatient.contact" placeholder="Contact" required />
                            </div>

                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="newemail" name="email"
                                ng-model="newPatient.email" placeholder="Email" required />
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <input type="password" class="form-control" id="newpassword" name="password"
                                    placeholder="Password" ng-model="newPatient.password"
                                    ng-blur="checkPasswords('new'); checkPasswordStrength('new')" required />
                            </div>

                            <div class="form-group col">
                                <input type="password" class="form-control" id="newpasswordconf" name="passwordconf"
                                    placeholder="Password" ng-model="newPatient.passwordconf"
                                    ng-blur="checkPasswords('new')" required />
                            </div>

                        </div>

                        <div class="form-group">
                            <input id="newpicture" name="newpicture" type="file" ng-model="newPatient.picture" required />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newdescription" name="description"
                                ng-model="newPatient.description" placeholder="Description" required />
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <input type="number" class="form-control" id="newheight" name="height"
                                    ng-model="newPatient.height" placeholder="Height" required />
                            </div>

                            <div class="form-group col">
                                <input type="number" class="form-control" id="newweight" name="weight"
                                    ng-model="newPatient.weight" placeholder="Weight" required />
                            </div>

                            <div class="form-group col">
                                <input type="date" class="form-control" id="newbirthday" name="birthday"
                                    ng-model="newPatient.birthday" placeholder="Birthday" required
                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="newaddress" name="address"
                                ng-model="newPatient.address" placeholder="Address" required />
                        </div>

                        <div class="form-group">
                            <label>Standard Contacts</label>
                            <select ng-repeat="(i,y) in newStandardContacts" class="form-control"
                                id="contactStandardChoose{{i}}">
                                <option ng-click="removeAddStandardContact(i)"></option>
                                <option ng-repeat="x in standardContacts" value={{x._id}}>{{x._name}} - {{x._number}}
                                </option>
                            </select>
                            <a href="" ng-click="newAddStandardContact()">Add contact</a>

                        </div>

                        <div class="form-group">
                            <label>Own Contacts</label>
                            <div ng-repeat="(i,x) in newOwnContacts">
                                <input type="text" class="form-control" id="owncontactname{{i}}" name="owncontactname"
                                    placeholder="Name" required />
                                <input type="text" class="form-control" id="owncontactnumber{{i}}"
                                    name="owncontactnumber" placeholder="Number" required />
                                <a href="" ng-click="deleteNewOwnContact(i)">Delete</a>
                                <hr />
                            </div>
                            <a href="" ng-click="newAddOwnContact()">Add contact</a>

                        </div>

                        <button type="submit" id="submitNewPatient" class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL - Update patient-->
    <div class="modal" id="updatePatientModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Patient</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updatePatientModal">

                    <!-- Form -->
                    <form ng-submit="updatePatientForm()" class="loginForm" id="updatePatientForm">
                        <h1 class="display-4" style="text-align:center">Update Patient</h1>

                        <div class="row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="updatename" name="name"
                                    ng-model="updatePatient.name" placeholder="Name" required
                                    value="{{updatePatient.name}}" />
                            </div>

                            <div class="form-group col">
                                <input type="text" class="form-control" id="updatecontact" name="contact"
                                    ng-model="updatePatient.contact" placeholder="Contact" required
                                    value="{{updatePatient.contact}}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="updateemail" name="email"
                                ng-model="updatePatient.email" placeholder="Email" required />
                        </div>

                        <div class="form-group">
                            <input id="updatepicture" name="updatepicture" type="file" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updatedescription" name="description"
                                ng-model="updatePatient.description" placeholder="Description" required />
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <input type="number" class="form-control" id="updateheight" name="height"
                                    ng-model="updatePatient.height" placeholder="Height" required />
                            </div>

                            <div class="form-group col">
                                <input type="number" class="form-control" id="updateweight" name="weight"
                                    ng-model="updatePatient.weight" placeholder="Weight" required />
                            </div>

                            <div class="form-group col">
                                <input type="date" class="form-control" id="updatebirthday" name="birthday"
                                    ng-model="updatePatient.birthday" placeholder="Birthday" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="updateaddress" name="address"
                                ng-model="updatePatient.address" placeholder="Address" required />
                        </div>

                        <div class="form-group">
                            <label>Standard Contacts</label>
                            <select ng-repeat="(i,y) in updateStandardContacts" class="form-control"
                                id="contactUpdateStandardChoose{{i}}">
                                <option ng-click="removeUpdateStandardContact(i)"></option>
                                <option ng-repeat="x in standardContacts" value={{x._id}}>{{x._name}} - {{x._number}}
                                </option>
                            </select>
                            <a href="" ng-click="newUpdateStandardContact()">Add contact</a>

                        </div>

                        <div class="form-group">
                            <label>Own Contacts</label>
                            <div ng-repeat="(i,x) in updateOwnContacts">
                                <input type="text" class="form-control" id="updateowncontactname{{i}}"
                                    name="updateowncontactname" placeholder="Name" required />
                                <input type="text" class="form-control" id="updateowncontactnumber{{i}}"
                                    name="updateowncontactnumber" placeholder="Number" required />
                                <a href="" ng-click="deleteUpdateOwnContact(i)">Delete</a>
                                <hr />
                            </div>
                            <a href="" ng-click="updateAddOwnContact()">Add contact</a>

                        </div>

                        <button type="submit" id="submitUpdatedPatient"
                            class="btn btn-primary submitButton">Update</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>