<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/media/favicon_frontend.png">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootbox.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- Css internos -->
    <link rel="stylesheet" href="/Frontoffice/css/utils.css">
    <link rel="stylesheet" href="/Frontoffice/css/charts.css">
    <link rel="stylesheet" href="/Frontoffice/css/alert.css">

    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

</head>

<body ng-app="myApp" ng-controller="indexCtrl">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">FrontOffice</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!mypatients">My Patients</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!dashboard">Dashboard</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!plans">Plans</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!assigndevice">Assign device</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!medicalconsultation">Medical Consultations</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!monitoringsensors">Monitoring Sensors</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link" href="#!limits">Limits</a>
            </li>

            <li class="nav-item" ng-show="doctorVisible">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item" ng-show="emergencyVisible">
                <a class="nav-link" id="alertButton" href="#!listemergencies">Alerts <span class="badge"
                        id="numberofemergencies">{{listEmergencies.length}}</span></a>
            </li>

            <li class="nav-item" ng-show="emergencyVisible">
                <a class="nav-link">|</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    {{name}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor:pointer" data-toggle="modal"
                        data-target="#updatePasswordModal">Change Password</a>
                    <a class="dropdown-item" href="/doctor/login" ng-click="logoutBtn()">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Content of the page that will be replaced without reload the page-->
    <div class="row" style="height:100vh; margin:10px 50px ">
        <div ng-view style="width:100%"></div>
    </div>

    <!-- MODAL - Change Password-->
    <div class="modal" id="updatePasswordModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateModal">

                    <!-- Form -->
                    <form ng-submit="changePassword()" class="loginForm">

                        <div class="form-group">
                            <input type="password" class="form-control" name="oldPassword"
                                ng-model="changePasswordField.oldPassword" placeholder="Old Password" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="newPassword" id="newpassword"
                                ng-model="changePasswordField.newPassword" placeholder="New Password"
                                ng-blur="checkPasswords(); checkPasswordStrength()" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="newPasswordConf" id="newpasswordconf"
                                ng-model="changePasswordField.newPasswordConf" placeholder="New Password confirmation"
                                ng-blur="checkPasswords()" required />
                        </div>

                        <button type="submit" id="submitNewContact" class="btn btn-primary submitButton">Submit</button>

                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
<script src="/FrontOffice/js/routes.js" type="module"></script>
<script src="/FrontOffice/js/myutil.js" type="module"></script>
<script src="/FrontOffice/js/pedidos.js" type="module"></script>
<script src="/FrontOffice/controllers/indexController.js" type="module"></script>
<script src="/FrontOffice/controllers/homeController.js" type="module"></script>
<script src="/FrontOffice/controllers/mypatientsController.js" type="module"></script>
<script src="/FrontOffice/controllers/dashboardController.js" type="module"></script>
<script src="/FrontOffice/controllers/assignDeviceController.js" type="module"></script>
<script src="/FrontOffice/controllers/medicalConsultationController.js" type="module"></script>
<script src="/FrontOffice/controllers/monitoringSensorsController.js" type="module"></script>
<script src="/FrontOffice/controllers/listEmergenciesController.js" type="module"></script>
<script src="/FrontOffice/controllers/detailedEmergencyController.js" type="module"></script>
<script src="/FrontOffice/controllers/plansController.js" type="module"></script>
<script src="/FrontOffice/controllers/patientLimitsController.js" type="module"></script>

</html>