<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/media/favicon_frontend.png">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootbox.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- Css internos -->
    <link rel="stylesheet" href="/Backoffice/css/loginForm.css">

    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

</head>

<body ng-app="myAppLogin" ng-controller="loginCtrl">

    <div class="container login-container">
        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6 login-form-1">
                <h3>Login</h3>
                <form ng-submit="submitLogin()">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" ng-model="login.email"
                            placeholder="Email" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            ng-model="login.password" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <!--<div class="form-group">
                                <a href="#" class="ForgetPwd">Forget Password?</a>
                            </div>-->
                </form>
            </div>

            <div class="col-md-3"></div>

        </div>
    </div>

</body>
<script src="/Backoffice/js/routes.js"></script>
<script src="/Backoffice/controllers/loginController.js" type="module"></script>
<script src="/Backoffice/js/pedidos.js" type="module"></script>
<script src="/Backoffice/js/myutil.js" type="module"></script>

</html>