.btn:hover {
    background-color: DodgerBlue;
    border: none;
    color: white;
    /*padding: 12px 16px;
    font-size: 16px;*/
    cursor: pointer;
}

i {
    width:50px;
    font-size:20px;
}

.btn-warning {
    color: white;
}