<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/media/favicon_frontend.png">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootbox.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- Css internos -->

    <link rel="stylesheet" href="/css/utils.css">

    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

</head>

<body ng-app="myApp" ng-controller="indexCtrl">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Patient</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Patient</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>-->


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    {{name}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor:pointer" data-toggle="modal"
                        data-target="#updatePasswordModal">Change Password</a>
                    <a class="dropdown-item" href="/patient/login" ng-click="logoutBtn()">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Content of the page that will be replaced without reload the page-->
    <div class="row" style="height:100vh; margin:10px 50px ">
        <div ng-view style="width:100%"></div>
    </div>

    <!-- MODAL - Change Password-->
    <div class="modal" id="updatePasswordModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateModal">

                    <!-- Form -->
                    <form ng-submit="changePassword()" class="loginForm">

                        <div class="form-group">
                            <input type="password" class="form-control" name="oldPassword"
                                ng-model="changePasswordField.oldPassword" placeholder="Old Password" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="newPassword" id="newpassword"
                                ng-model="changePasswordField.newPassword" placeholder="New Password"
                                ng-blur="checkPasswords(); checkPasswordStrength()" required />
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="newPasswordConf" id="newpasswordconf"
                                ng-model="changePasswordField.newPasswordConf" placeholder="New Password confirmation"
                                ng-blur="checkPasswords()" required />
                        </div>

                        <button type="submit" id="submitNewContact" class="btn btn-primary submitButton">Submit</button>

                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</body>

<script src="/js/routes.js" type="module"></script>
<script src="/js/myutil.js" type="module"></script>
<script src="/js/pedidos.js" type="module"></script>
<script src="/controllers/indexController.js" type="module"></script>
<script src="/controllers/homeController.js" type="module"></script>

</html>