.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{
    0%{     color: rgb(255, 0, 0);    }
    25%{     color: rgb(255, 0, 0);    }
    50%{    color:transparent;  }
    75%{     color: rgb(255, 0, 0);    }
    100%{   color: rgb(255, 0, 0);    }
}

#mapid { height: 500px; width: 500px}