
.box {
    background-color: #fff;
    padding: 25px 20px;
}
  
.shadow {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.sparkboxes .box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 0 1px 1px 1px #666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    position: relative;
}
  
.sparkboxes strong {
    position: relative;
    z-index: 3;
    top: -8px;
    color: #fff;
}


.sparkboxes .box1 {
    border-bottom: 3px solid #734CEA
}

.sparkboxes .box2 {
    border-bottom: 3px solid #34bfa3
}

.sparkboxes .box3 {
    border-bottom: 3px solid #f4516c;
}

.sparkboxes .box4 {
    border-bottom: 3px solid #00c5dc;
}

/*#chartHistory {
    max-width: 650px;
    margin: 35px auto;
  }
*/
@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1200px;
    }
}

.alertsignal {
    background-color: rgba(255, 0, 0, 0.6)
}