.pointer {
    cursor: pointer;
}

.separateConsultations {
    border-top-style: solid;
    border-color: gray;
    padding-top: 300px,
}

.btn:hover {
    background-color: DodgerBlue;
    border: none;
    color: white;
    /*padding: 12px 16px;
    font-size: 16px;*/
    cursor: pointer;
}

i {
    width:50px;
    font-size:20px;
}

.btn-warning {
    color: white;
}

.table-odd {
    background-color: rgb(241, 241, 241);
}

.table-odd-jumb {
    background-color: rgb(223, 223, 223);
}

.jumbotron {
    background-color: rgb(247, 247, 247);
}

.vl {
    border-left: 1px solid rgb(206, 206, 206);
    height: 100%;
    width:5px;
    position: relative;
    left: 50%;
  }

.blinkingConsultation{
    animation:blinkingTextConsultation 3.0s infinite;
}
@keyframes blinkingTextConsultation{
    0%{     color: rgb(255, 255, 255);    }
    25%{     color: rgba(255, 255, 255,0.4);    }
    50%{    color:rgb(255, 255, 255);  }
    75%{     color: rgba(255, 255, 255,0.4);    }
    100%{   color: rgb(255, 255, 255);    }
}


* {
    box-sizing: border-box;
  }
  
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    z-index: 10;
  }