<div ng-controller="assignDeviceCtrl">

    <h1 class="display-4" style="font-size: 40pt">Assign Device</h1>

    <br/>

    <!-- Table with the patients and the select option to assign a device -->
    <table class="table table-striped" style="table-layout: fixed;">
        <thead>
            <tr class="lead">
                <th style="text-align: center;">Patient</th>
                <th style="text-align: center;">Device</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in patients" class="lead">
                <td style="vertical-align: middle; text-align: center;" ng-click="clickedPatient(x.id)" class="pointer">{{x.name}}</td>
                <td style="vertical-align: middle; text-align: center;">
                    <div class="form-group">
                        <select class="form-control" id="sel{{x.id}}">
                            <option ng-click="assignDevice(x.id)"></option>
                            <option ng-repeat="y in devices" ng-selected="{{x.current_device_id == y.id}}" ng-click="assignDevice(x.id, y.id)">{{y.id}}</option>
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>

</div>