<div ng-controller="dashboardCtrl">

    <h1 class="display-4" style="font-size: 40pt">Dashboard</h1>

    <!-- Options of the dashboard -->
    <div id="optionsdashboard">
        <br /><br />
        <div class="row">

            <!-- SELECT PATIENT -->
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selPatient">Select a patient:</label>
                    <select id="selPatient" ng-model="selectedName" class="form-control">
                        <option ng-click="selectPatient()" value="{{}}"></option>
                        <option ng-click="selectPatient(x.id)" ng-repeat="x in patients" value="{{x.id}}">{{x.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="vl"></div>
            </div>

            <div class="col-md-3">
                <!-- SELECT CHARTS -->
                <div class="form-group">
                    <label for="selectCharts">Select charts (hold ctrl to select more than one):</label>
                    <select id="selectCharts" ng-click="selectChart()" multiple class="form-control" id="sel2">
                        <option id="selectoption{{x.sensor_id}}" ng-repeat="x in sensors_list" value={{x.sensor_id}}>
                            {{x.name}} ({{x.sensor_id}})</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="vl"></div>
            </div>

            <div class="col-md-3">
                <!-- SELECT VIEW -->
                <div class="form-group">
                    <label for="selView">Select a view:</label>
                    <select id="selView" ng-model="selectedView" class="form-control">
                        <option selected></option>
                        <option ng-click="selectView(x.view_id)" ng-repeat="x in views" value="{{x.view_id}}">
                            {{x.view_name}}
                        </option>
                    </select>
                    <br />
                    <button ng-click="addNewView()" class="btn btn-success" style="width:32%"><i
                            class="fas fa-plus-circle"></i></button>
                    <button ng-click="updateView()" class="btn btn-warning" style="width:32%"><i
                            class='far fa-edit'></i></button>
                    <button ng-click="deleteView()" class="btn btn-danger" style="width:32%"><i
                            class="fa fa-remove"></i></button>
                </div>
            </div>

        </div>
    </div>

    <br />
    <br />

    <!-- Patient data -->
    <div id="patientData" class="lead">

        <h1>Patient data</h1>

        <!-- Basic data -->
        <div class="jumbotron">
            <h2>Basic data</h2>

            <div class="row">

                <div class="col-md-3">
                    <img id="image{{selectedpatient._id}}" class="img" ng-src="{{getPatientImage(selectedpatient._id)}}"
                        alt="Something went wrong, it's not possible to display the image."
                        style="width:300px; height:300px" />
                </div>

                <div class="col-md-9">

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Description</th>
                                <td>{{selectedpatient._description}}</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <td> <a href="tel:{{selectedpatient._contact}}">{{selectedpatient._contact}}</a></td>
                            </tr>
                            <tr>
                                <th>Height</th>
                                <td>{{selectedpatient._height}} cm</td>
                            </tr>
                            <tr>
                                <th>Weight</th>
                                <td>{{selectedpatient._weight}} kg</td>
                            </tr>
                            <tr>
                                <th>Birthday</th>
                                <td>{{selectedpatient._birthday}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td><a target="_blank"
                                        href="https://maps.google.com/?q={{x.address}}">{{selectedpatient._address}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Current device id</th>
                                <td ng-if="selectedpatient._currentDeviceId">{{selectedpatient._currentDeviceId}}</td>
                                <td ng-if="!selectedpatient._currentDeviceId">No device assigned</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <!-- Medical consultations-->
        <div class="jumbotron">
            <h2>Medical consultations</h2>

            <br />

            <h4>Next Consultations</h4>

            <div class="row my-5">

                <div ng-repeat="x in nextConsultations" class="col-3" style="padding:0">
                    <div class="card my-2 mx-2" ng-class="{'bg-primary text-white' : x.diffDays==0}">
                        <div class="card-body">
                            <div class="row px-2">
                                <div style="text-align: right; color:rgb(83, 83, 83)"
                                    ng-class="{'blinkingConsultation' : x.diffDays==0}">
                                    <h1>{{x.date}}</h1>
                                    <p style="text-align: right;" ng-show="x.diffDays>0">Consultation in {{x.diffDays}}
                                        days</p>
                                    <p style="text-align: right;" ng-show="x.diffDays==0">Consultation in less than 24
                                        hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br />

            <h4>Old Consultations</h4>

            <div class="row my-5">

                <div ng-repeat="x in oldConsultations" class="col-3" style="padding:0">
                    <div class="card my-2 mx-2">
                        <div class="card-body">
                            <div class="row px-2">
                                <div style="text-align: right; color:rgb(83, 83, 83)">
                                    <h1>{{x.date}}</h1>
                                    <p style="text-align: right;">Consultation {{x.diffDays}} days ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Monitoring sensors -->
        <div class="jumbotron">
            <h2>Monitoring Sensors</h2>

            <div class="row my-5">

                <div ng-repeat="x in monitoringSensors" class="col-3" style="padding:0">
                    <div class="card my-2 mx-2">
                        <div class="card-body">
                            <div class="row px-2">
                                <div style=" color:rgb(83, 83, 83); width:100%">
                                    <h1>{{x.sensor.name}}</h1>
                                    <p style="text-align: right;">{{x.sensor_id}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Plan -->
        <div class="jumbotron">
            <h2>Plan</h2>
            <ul class="list-group">
                <table class="table table-light">
                    <thead>
                        <tr class="lead">
                            <th scope="col">Day of the Week</th>
                            <th scope="col">Sensor Id</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(i,x) in planByDays.monday" class="lead table-odd-jumb">
                            <td rowspan={{planByDays.monday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.tuesday" class="lead">
                            <td rowspan={{planByDays.tuesday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.wednesday" class="lead table-odd-jumb">
                            <td rowspan={{planByDays.wednesday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.thursday" class="lead">
                            <td rowspan={{planByDays.thursday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.friday" class="lead table-odd-jumb">
                            <td rowspan={{planByDays.friday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.saturday" class="lead">
                            <td rowspan={{planByDays.saturday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                        <tr ng-repeat="(i,x) in planByDays.sunday" class="lead table-odd-jumb">
                            <td rowspan={{planByDays.sunday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                            <td>{{x.sensor.name}} ({{x.sensor_id}})</td>
                            <td>{{x.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </ul>
        </div>

        <!-- Uploaded files -->
        <div class="jumbotron">
            <h2>Uploaded files</h2>

            <div class="card" style="width:350px; display:inline-block; margin: 20px" ng-repeat="x in files">
                <img id="file{{x.id}}" class="card-img-bottom p-2 zoom" ng-src="{{getFileData(x.id)}}" alt="Card image"
                    style="width:100%; cursor:pointer" ng-click="openImage(x.id)">

                <br />

                <div class="card-body">
                    <p class="card-text">{{x.description}}</p>
                    <p class="card-text">{{x.date}}</p>
                </div>

            </div>

        </div>

    </div>

    <!-- CHARTS -->
    <div id="wrapper">

        <div class="content-area">
            <div class="container-fluid">
                <div class="main">

                    <div class="row" id="chartList">
                        <!--<div ng-repeat="x in sensors_list" class="col-md-4" ng-show=x.show style="margin:20px 0">
                            
                            <p class="h4">{{x.name}} ({{x.sensor_id}})</p>
                            
                            <div class="box shadow">

                                <div ng-class="{'alertsignal': signalsalerts.includes(x.sensor_id)}">
                                    <div id={{x.sensor_id}}> </div>
                                </div>

                            
                            </div>-->

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="test"></div>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{bigChartHeader}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="chartHistory"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>