<div ng-controller="detailedEmergencyCtrl">

        <h1 class="display-4" style="font-size: 40pt">Emergency detailed {{emergencyId}}</h1>

        <!-- Button to close the emergency -->
        <button class="btn btn-danger" ng-click="closeEmergency(emergencyId)">Close Emergency</button>
        <br/><br/>

            <div class="row mx-4 mb-5">

                <!-- Information about the patient and the map -->
                <div class="col-md-6" id="mapContainer">
                    <h1 class="mb-4">{{patient._name}} <a href="tel:{{patient._contact}}">{{patient._contact}}</a></h1>
                    <p class="lead">Address: {{patient._address}}</p>
                    <!--<p><a target="_blank" href="http://www.google.com/maps/place/41.478181,-8.3405282">See location at google maps (coords) (static)</a></p>-->
                    <p><a class="lead" target="_blank" href="https://maps.google.com/?q={{patient._address}}">See location in a new tab</a></p>
                    <!--<div style="width: 100%" id="mapid"></div>-->
                    <iframe id="iframe" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" 
                        width="100%" height="500px" 
                        src=""
                        frameborder="0" 
                        scrolling="no" 
                        marginheight="0" 
                        marginwidth="0">
                    </iframe>
                </div>

                <!-- Contacts of the patient -->
                <div class="col-md-6">
                    <h1 class="mb-4">Contacts</h1>
                    <br/><br/>
                    <br/>

                    <h2>Standard Contacts</h2>
                    <br/>
                    <ul class="list-group">
                        <li class="list-group-item lead" ng-repeat="x in standardContacts">{{x.contact.name}} -  <a href="tel:{{x.contact.number}}">{{x.contact.number}}</a></li>
                    </ul>

                    <br/><br/>

                    <h2>Own Contacts</h2>
                    <br/>
                    <ul class="list-group">
                        <li class="list-group-item lead" ng-repeat="x in ownContacts" >{{x.name}} - <a href="tel:{{x.number}}">{{x.number}}</a></li>
                    </ul>

                </div>
        
            </div>
    
    </div>