<div ng-controller="homeCtrl">

    <h1 class="display-4" style="font-size: 40pt">Welcome</h1>

    <!-- Set of statistic cards-->
    <div class="row my-5">

        <!-- Number of patients assigned -->
        <div class="card col-3 mx-1" ng-show="doctorVisible" style="cursor: pointer;"
            onclick="window.location='#!mypatients'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-diagnoses"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numPatientsAssigned}}</h1>
                        <span>Number of Patients assigned</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of consultations -->
        <div class="card col-3 mx-1" ng-show="doctorVisible" style="cursor: pointer;"
            onclick="window.location='#!medicalconsultation'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fab fa-bity"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numConsultations}}</h1>
                        <span>Number of Consultations</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of emergencies -->
        <div class="card col-3 mx-1" ng-show="emergencyVisible" style="cursor: pointer;"
            onclick="window.location='#!listemergencies'">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <i style="color:green; font-size:50px; margin:20% 50% 0 50%;" class="fas fa-ambulance"></i>
                    </div>
                    <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                        <h1 style="color:green;">{{numEmergencies}}</h1>
                        <span>Number of Emergencies</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ALERTS SIGNALS-->
    <div>

        <!-- Each patient is a row-->
        <div class="row mx-1 my-5" ng-repeat="x in patients" ng-show="x.alerts.length > 0">

            <div class="row" style="width: 100%">

                <h1 class="display-4">{{x.name}}</h1>

                <div class="row" style="width:100%">

                    <div ng-repeat="y in x.alerts" class="card col-3 mx-1">
                        <div class="row">
                            <button ng-click="deleteAlert(y.id)" style='margin: 0 0 0 auto' class="btn btn-danger"> <i
                                    class='fa fa-remove'></i></button>
                        </div>
                        <div class="card-body" style="cursor: pointer;" ng-click="clickedAlert(x.id, y.sensor_id)">

                            <div class="row">
                                <div class="col-3">
                                    <i style="color:rgb(206, 0, 0); font-size:50px; margin:20% 50% 0 50%;"
                                        class="fa fa-warning"></i>
                                </div>
                                <div style="text-align: right; color:rgb(83, 83, 83)" class="col-9">
                                    <h1 style="color:rgb(206, 0, 0);">{{y.sensor_id}}</h1>
                                    <span>{{y.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>


</div>