<div ng-controller="listEmergenciesCtrl">

    <h1 class="display-4" style="font-size: 40pt">List Emergencies</h1>
    <br />

    <!-- Emergencies responding -->
    <h2>Responding</h2>

    <div class="row my-5">

        <div ng-repeat="x in listRespondingEmergencies" class="col-3" style="padding:0">
            <a href="#!detailedemergency/{{x.id}}">
                <div class="card my-2 mx-2">
                    <div class="card-body">
                        <div class="row px-2">
                            <div style="text-align: right; color:rgb(83, 83, 83)">
                                <h1>{{x.patient._name}}</h1>
                                <p style="text-align: right;">At: {{x.ts_start}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <br />
    <br />

    <!-- New alerts -->
    <h2>New Alerts</h2>

    <div class="row my-5">

            <div ng-repeat="x in listNewEmergencies" class="col-3" style="padding:0" ng-click="setResponding(x.id)">
                <a href="">
                    <div class="card my-2 mx-2">
                        <div class="card-body">
                            <div class="row px-2">
                                <div style="text-align: right; color:rgb(83, 83, 83)">
                                    <h1>{{x.patient._name}}</h1>
                                    <p style="text-align: right;">At: {{x.ts_start}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

</div>