<div ng-controller="medicalConsultationsCtrl">

    <h1 class="display-4" style="font-size: 40pt">Medical Consultations</h1>

    <!-- Button the add a medical consultation-->
    <button type="button" class="btn btn-success my-4" data-toggle="modal" data-target="#addMedicalConsultationModal"><i
            class="fas fa-plus-circle"></i></button>

    <br />
    <br />

    <div>

        <h2 style="text-align: center;">New consultations</h2>

        <br/>

        <!-- Table with the new medical consultations-->
        <table class="table table-striped">
            <thead>
                <tr class="lead">
                    <th style="text-align: center;">Patient Name</th>
                    <th style="text-align: center;">Date Time</th>
                    <th style="text-align: center;">Edit</th>
                    <th style="text-align: center;">Remove</td>
                </tr>
            </thead>
            <tbody>
                <tr class="lead" ng-repeat="x in newMedicalConsultations">
                    <td style="vertical-align: middle; text-align: center;" ng-click="clickedPatient(x.patient_id)"
                        class="pointer">{{x.patient.name}}</td>
                    <td style="vertical-align: middle; text-align: center;">{{x.date}}</td>
                    <td style="vertical-align: middle; text-align: center;"><button type="button"
                            class="btn btn-warning" ng-click="edit(x.id)"><i class='far fa-edit'></i></button></td>
                    <td style="vertical-align: middle; text-align: center;"><button type="button" class="btn btn-danger"
                            ng-click="delete(x.id)"><i class="fa fa-remove"></i></button></td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination of the new medical consultations-->
        <ul id="paginationHide" class="pagination justify-content-center">
            <li id="pageNback" class="page-item">
                <a class="page-link disabled" href="" ng-click="previousNPage()">Previous</a>
            </li>

            <li id="pageN{{x.index}}" class="page-item" ng-repeat="x in numberNPages">
                <a class="page-link" href="" ng-click="setNPage(x.index)">{{x.index}}</a>
            </li>

            <li id="pageNnext" class="page-item">
                <a class="page-link" href="" ng-click="nextNPage()">Next</a>
            </li>
        </ul>

    </div>

    <br/>
    <hr/>
    <br/>

    <div>

            <h2 style="text-align: center;">Old consultations</h2>
    
            <br/>
    
            <!-- Table with the old consultations -->
            <table class="table table-striped">
                <thead>
                    <tr class="lead">
                        <th style="text-align: center;">Patient Name</th>
                        <th style="text-align: center;">Date Time</th>
                        <!--<th style="text-align: center;">Edit</th>
                        <th style="text-align: center;">Remove</td>-->
                    </tr>
                </thead>
                <tbody>
                    <tr class="lead" ng-repeat="x in oldMedicalConsultations">
                        <td style="vertical-align: middle; text-align: center;" ng-click="clickedPatient(x.patient_id)"
                            class="pointer">{{x.patient.name}}</td>
                        <td style="vertical-align: middle; text-align: center;">{{x.date}}</td>
                        <!--<td style="vertical-align: middle; text-align: center;"><button type="button"
                                class="btn btn-warning" ng-click="edit(x.id)"><i class='far fa-edit'></i></button></td>
                        <td style="vertical-align: middle; text-align: center;"><button type="button" class="btn btn-danger"
                                ng-click="delete(x.id)"><i class="fa fa-remove"></i></button></td>-->
                    </tr>
                </tbody>
            </table>
    
            <!-- Pagination of the old consultations -->
            <ul id="paginationHide" class="pagination justify-content-center">
                <li id="pageOback" class="page-item">
                    <a class="page-link disabled" href="" ng-click="previousOPage()">Previous</a>
                </li>
    
                <li id="pageO{{x.index}}" class="page-item" ng-repeat="x in numberOPages">
                    <a class="page-link" href="" ng-click="setOPage(x.index)">{{x.index}}</a>
                </li>
    
                <li id="pageOnext" class="page-item">
                    <a class="page-link" href="" ng-click="nextOPage()">Next</a>
                </li>
            </ul>
    
        </div>


    <!-- MODAL - Add new medical consultation-->
    <div class="modal" id="addMedicalConsultationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Medical Consultation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="addMedicalConsultationModal">

                    <form ng-submit="addNewMedicalConsultation()" class="loginForm">

                        <div class="form-group">
                            <label>Patient: </label>
                            <select class="form-control" id="patientChoose">
                                <option ng-repeat="x in patients" value={{x.id}}>{{x.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Date time: </label>
                            <div>
                                <input style="width:150px; display:inline-block" type="date" class="form-control"
                                    id="newdate" name="newdate" ng-model="newMedicalConsultation.date" required />
                                <input style="width:100px; display:inline-block" type="time" class="form-control"
                                    id="newtime" name="newtime" ng-model="newMedicalConsultation.time" required />
                            </div>
                        </div>

                        <button type="submit" id="submitNewMedicalConsultation"
                            class="btn btn-primary submitButton">Add</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL - Update MedicalConsultation-->
    <div class="modal" id="updateMedicalConsultationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Medical Consultation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="updateMedicalConsultationModal">

                    <form ng-submit="updateMedicalConsultationForm()" class="loginForm">

                        <div class="form-group">
                            <label>Patient: </label>
                            <select class="form-control" id="patientUpdateChoose" disabled>
                                <option ng-repeat="x in patients" value={{x.id}}>{{x.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Date time: </label>
                            <div>
                                <input style="width:150px; display:inline-block" type="date" class="form-control"
                                    id="updatedate" name="updatedate" ng-model="updateMedicalConsultation.date"
                                    required />
                                <input style="width:100px; display:inline-block" type="time" class="form-control"
                                    id="updatetime" name="updatetime" ng-model="updateMedicalConsultation.time"
                                    required />
                            </div>
                        </div>

                        <button type="submit" id="submitUpdatedMedicalConsultation"
                            class="btn btn-primary submitButton">Update</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>