<div ng-controller="monitoringSensorsCtrl">

    <h1 class="display-4" style="font-size: 40pt">Monitoring Sensors</h1>

    <br/>

    <!-- Table with the patients and their monitorings sensors-->
    <table class="table table-striped" style="table-layout: fixed;">
        <thead>
            <tr class="lead">
                <th scope="col" style="text-align: center;">Patient</th>
                <th scope="col" style="text-align: center;">Monitoring Sensors</th>
                <td scope="col" style="text-align: center;">Apply</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="y in patients" class="lead">
                <td ng-click="clickedPatient(y.id)" class="pointer" style="vertical-align: middle; text-align: center;">{{y.name}}</th>
                <td>
                    <select multiple class="form-control" id="select{{y.id}}">
                        <option id="selectoption{{y.id}}{{x.sensor_id}}" ng-repeat="x in sensors" value={{x.sensor_id}}>
                            {{x.sensor_id}}</option>
                    </select>
                </td>
                <td style="vertical-align: middle; text-align: center;"><button class="btn btn-success" ng-click="changeMonitoringSensors(y.id)" ><i class="fas fa-save"></i></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination-->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


</div>