<div ng-controller="mypatientsCtrl">

    <h1 class="display-4" style="font-size: 40pt">My Patients</h1>

    <br /><br />

    <!-- Filter patients by name -->
    <form ng-submit="searchPatient()">

        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search"
                ng-model="search" placeholder="Search for a patient"
                value="{{search}}" ng-keypress="searchPatient()" />
        </div>

        <button type="submit" id="search" class="btn btn-primary">Search</button>

    </form>

    <br/>

    <!-- List of patients -->
    <ul class="list-group">

        <li class="list-group-item" ng-repeat="x in patients">

            <p class="pointer" data-toggle="collapse" data-target="#pat{{x.id}}" style="font-weight: bold;">{{x.name}}</p>

            <div id="pat{{x.id}}" class="collapse" ng-click="clickedPatient(x.id)" class="pointer">

                <br/>
                <div class="row">

                    <div class="col-md-3">
                        <img id="file{{x.id}}" class="img" ng-src="{{getFileData(x.id)}}"
                            alt="Something went wrong, it's not possible to display the image."
                            style="width:300px; height:300px" />
                    </div>

                    <div class="col-md-9">

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Description</th>
                                    <td>{{x.description}}</td>
                                </tr>
                                <tr>
                                    <th>Contact</th>
                                    <td> <a href="tel:{{x.contact}}">{{x.contact}}</a></td>
                                </tr>
                                <tr>
                                    <th>Height</th>
                                    <td>{{x.height}} cm</td>
                                </tr>
                                <tr>
                                    <th>Weight</th>
                                    <td>{{x.weight}} kg</td>
                                </tr>
                                <tr>
                                    <th>Birthday</th>
                                    <td>{{x.birthday}}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td><a target="_blank"
                                            href="https://maps.google.com/?q={{x.address}}">{{x.address}}</a></td>
                                </tr>
                                <tr>
                                    <th>Current device id</th>
                                    <td>{{x.current_device_id}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </li>

    </ul>

    <!--

            <table class="table table-striped">
        <thead>
            <tr class="lead">
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Picture</th>
                <th style="text-align: center;">Description</td>
                <th style="text-align: center;">Contact</td>
                <th style="text-align: center;">Height (cm)</td>
                <th style="text-align: center;">Weight (kg)</td>
                <th style="text-align: center;">Birthday</td>
                <th style="text-align: center;">Address</td>
                <th style="text-align: center;">Device id</td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="x in patients" class="lead">
                <td style="vertical-align: middle; text-align: center;" ng-click="clickedPatient(x.id)" class="pointer">
                    {{x.name}}</td>
                <td style="text-align: center;">
                    <img id="file{{x.id}}" class="img" ng-src="{{getFileData(x.id)}}"
                        alt="Something went wrong, it's not possible to display the image."
                        style="width:200px; height:200px" />
                </td>
                <td style="vertical-align: middle; text-align: center;">{{x.description}}</td>
                <td style="vertical-align: middle; text-align: center;"><a href="tel:{{x.contact}}">{{x.contact}}</a>
                </td>
                <td style="vertical-align: middle; text-align: center;">{{x.height}}</td>
                <td style="vertical-align: middle; text-align: center;">{{x.weight}}</td>
                <td style="vertical-align: middle; text-align: center;">{{x.birthday}}</td>
                <td style="vertical-align: middle; text-align: center;"><a target="_blank"
                        href="https://maps.google.com/?q={{x.address}}">{{x.address}}</a> </td>
                <td style="vertical-align: middle; text-align: center;">{{x.current_device_id}}</td>
            </tr>
        </tbody>
    </table>


    -->

    <br /><br />

    <!-- Pagination -->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>

</div>