<div ng-controller="patientLimitsCtrl">

    <h1 class="display-4" style="font-size: 40pt">Patients Limits</h1>

    <!-- SELECT PATIENT -->
    <div class="col-md-3">
        <div class="form-group">
            <label for="selPatient">Select a patient:</label>
            <select id="selPatient" ng-model="selectedName" class="form-control">
                <option ng-click="selectPatient(x.id)" ng-repeat="x in patients" value="{{x.id}}">{{x.name}}
                </option>
            </select>
        </div>
    </div>

    <form ng-submit="submitEditLimits()" class="loginForm">

        
        <button type="submit" id="submitEditLimits" class="btn btn-primary submitButton my-2">Submit</button>

        <div class="row">
            <div class="mx-2">
                <input type="text" class="form-control" style="text-align: center; width:300px" value="SENSOR ID" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" style="text-align: center" value="MIN VALUE DEFAULT" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" style="text-align: center" value="MAX VALUE DEFAULT" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" style="text-align: center" value="SET CUSTOM MIN" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" style="text-align: center" value="SET CUSTOM MAX" disabled>
            </div>
        </div>

        <hr/>

        <div class="row my-2" ng-repeat="x in sensors">

            <div class="mx-2">
                <input type="text" class="form-control" id="{{x.sensor_id}}" value="{{x.name}} ({{x.sensor_id}})" style="text-align: center; width:300px" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" value="{{x.min}}" style="text-align: center" disabled>
            </div>

            <div class="mx-2">
                <input type="text" class="form-control" value="{{x.max}}" style="text-align: center" disabled>
            </div>

            <div class="mx-2">
                <input type="number" class="form-control minVal" id="{{x.sensor_id}}-min" placeholder="Min Value" step=any min=0 style="text-align: center">
            </div>

            <div class="mx-2">
                <input type="number" class="form-control maxVal" id="{{x.sensor_id}}-max" placeholder="Max Value" step=any min=0 style="text-align: center">
            </div>

        </div>

    </form>

</div>