<div ng-controller="plansCtrl">

    <h1 class="display-4" style="font-size: 40pt">Plans</h1>

    <br />

    <div class="row">

        <!-- List of patients-->
        <div class="col-md-4">

            <h2>Patients</h2>

            <ul class="list-group">
                <li id="patientlist{{x.id}}" class="list-group-item pointer lead" ng-repeat="x in patients" ng-click="viewPatientPlan(x.id)">
                    {{x.name}}</li>
            </ul>

            <br />

            <!-- Pagination --> 
            <ul id="paginationHide" class="pagination justify-content-center">
                <li id="pageback" class="page-item">
                    <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
                </li>

                <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
                    <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
                </li>

                <li id="pagenext" class="page-item">
                    <a class="page-link" href="" ng-click="nextPage()">Next</a>
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>

        <!-- Display the clicked patient plan -->
        <div class="col-md-7" id="showplandiv">

            <h2>Plan</h2>
            <br/>
            <button class="btn btn-warning" data-toggle="modal" data-target="#editPlanModal" ng-click="editPlanButton()"><i class='far fa-edit'></i></button>
            <button class="btn btn-danger" ng-click="deletePlan(selectedPatient)"><i class="fa fa-remove"></i></button>
            <br/><br/>

            <table class="table">
                <thead>
                    <tr class="lead">
                        <th scope="col">Day of the Week</th>
                        <th scope="col">Sensor Id</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(i,x) in planByDays.monday" class="lead table-odd">
                        <td rowspan={{planByDays.monday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.tuesday" class="lead">
                        <td rowspan={{planByDays.tuesday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.wednesday" class="lead table-odd">
                        <td rowspan={{planByDays.wednesday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.thursday" class="lead">
                        <td rowspan={{planByDays.thursday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.friday" class="lead table-odd">
                        <td rowspan={{planByDays.friday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.saturday" class="lead">
                        <td rowspan={{planByDays.saturday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                    <tr ng-repeat="(i,x) in planByDays.sunday" class="lead table-odd">
                        <td rowspan={{planByDays.sunday.length}} ng-hide="$index>0">{{x.day_week}}</td>
                        <td>{{x.sensor_id}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- MODAL - Edit plan-->
    <div class="modal" id="editPlanModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Plan</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="editPlanModal">

                    <form ng-submit="submitEditPlan()" class="loginForm">

                        <div class="form-group row" ng-repeat="(i,x) in showPlan">
                            <select class="form-control col mx-2" id="editDay{{i}}">
                                <option value="monday" ng-selected="{{x.day_week=='monday'}}">Monday</option>
                                <option value="tuesday" ng-selected="{{x.day_week=='tuesday'}}">Tuesday</option>
                                <option value="wednesday" ng-selected="{{x.day_week=='wednesday'}}">Wednesday</option>
                                <option value="thursday" ng-selected="{{x.day_week=='thursday'}}">Thursday</option>
                                <option value="friday" ng-selected="{{x.day_week=='friday'}}">Friday</option>
                                <option value="saturday" ng-selected="{{x.day_week=='saturday'}}">Saturday</option>
                                <option value="sunday" ng-selected="{{x.day_week=='sunday'}}">Sunday</option>
                            </select>

                            <select class="form-control col mx-2" id="editSensor{{i}}">
                                <option value={{y.sensor_id}} ng-repeat="y in monitoringSensors" ng-selected="{{y.sensor_id == x.sensor_id}}">{{y.sensor_id}}</option>
                            </select>

                            <input value={{x.time}} type="time" class="form-control col mx-2" id="editTime{{i}}" name="editTime{{i}}" step="1" required />

                            <a href="" ng-click="removePlanLine(i)" class="mx-2">X</a>
                            
                            
                        </div>

                        <a href="" ng-click="addPlanLine()">Add Line</a>

                        <br/><br/>

                        <button type="submit" id="submitEditPlan" class="btn btn-primary submitButton">Submit</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    </div>

</div>