ul{
    list-style-type:none;
}

.blinking{
    animation:blinkingText 3.0s infinite;
}
@keyframes blinkingText{
    0%{     color: rgb(255, 255, 255);    }
    25%{     color: rgba(255, 255, 255,0.4);    }
    50%{    color:rgb(255, 255, 255);  }
    75%{     color: rgba(255, 255, 255,0.4);    }
    100%{   color: rgb(255, 255, 255);    }
}

